<div class="p-2 m-2">
  <div>
    <app-error-handle [errorHandle]="errorHandle"></app-error-handle>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Products</h3>
          <p class="mt-1 text-sm text-gray-600">Please enter yout product description
          </p>
        </div>
      </div>
      <div class="mt-5 md:col-span-2 md:mt-0">
        <form action="#" method="POST" [formGroup]="formGroup" (ngSubmit)="Submit()">
          <div class="shadow sm:overflow-hidden sm:rounded-md">
            <div class="space-y-6 bg-white px-4 py-5 sm:p-6">

              <div>
                <label class="block text-sm font-medium text-gray-700">Product photo</label>
                <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                  <div class="space-y-1 text-center" (click)="uploadCLick()">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
                      aria-hidden="true">
                      <path
                        d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <div class="flex text-sm text-gray-600">
                      <label for="file-upload"
                        class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                        <span>Upload a file</span>
                        <input #imageInput id="file-upload" formControlName="product_image"
                          (change)="showPreview($event)" name="file-upload" type="file" accept="image/*"
                          class="sr-only">
                      </label>
                      <p class="pl-1">or drag and drop</p>
                    </div>

                    <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
                  </div>
                </div>
              </div>
              <div *ngIf="myImage">
                <img [src]="myImage" alt="">
              </div>
              <div>
                <label for="about" class="block text-sm font-medium text-gray-700">Produc description</label>
                <div class="mt-1">
                  <textarea id="about" name="about" rows="3" formControlName="product_desc"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                    placeholder="Enter description"></textarea>
                </div>
                <p class="mt-2 text-sm text-gray-500">Brief description for your product. .</p>
              </div>

              <div class="grid gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <label for="product-name" class="block text-sm font-medium text-gray-700">Product name</label>
                  <input type="text" name="product-name" id="product-name" formControlName="product_name"
                    autocomplete="given-name"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <label for="color" class="block text-sm font-medium text-gray-700">Color</label>
                  <input type="text" name="color" id="color" autocomplete="family-name" formControlName="product_color"
                    class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
                <!-- <div class="col-span-6 sm:col-span-3">
                  <label for="reviews" class="block text-sm font-medium text-gray-700">reviews</label>
                  <select id="reviews" name="reviews" autocomplete="country-name"
                    formControlName="product_additional.quality"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div> -->
                <div class="col-span-6 sm:col-span-6">
                  <div class="bg-gray-50 px-4 py-3 text-right sm:px-12">
                    <button type="submit" (click)="appendElement()"
                      class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add
                      detail</button>
                  </div>
                </div>
              </div>
              <div *ngFor="let element of elements">
                <div class="space-y-6 bg-white px-4 py-5 sm:p-6" data-id="{{ element }}">
                  <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                    Item {{ element }}
                  </div>
                  <div class="md:grid md:grid-cols-6 md:gap-6">
                    <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                      <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                      <input type="text" name="price" id="price" autocomplete="address-level1"
                        formControlName="product_additional.price"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    </div>

                    <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                      <label for="size" class="block text-sm font-medium text-gray-700">Size</label>
                      <input type="text" name="size" id="size" autocomplete="address-level2"
                        formControlName="product_additional.size"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    </div>

                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                      <label for="quality" class="block text-sm font-medium text-gray-700">Quality</label>
                      <input type="number" value="0" name="quality" id="quality" autocomplete="postal-code"
                        formControlName="product_additional.quality"
                        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    </div>


                  </div>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
              <button type="submit"
                class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>


</div>